<!DOCTYPE html>
<html>
<head lang="pt-br">
	<meta charset="utf-8">
	<title>{{Título}}</title>

	<link rel="shortcut icon" href="/gigabank/public/_img/favicon-32x32.png" type="image/x-icon">
	<link rel="icon" href="/gigabank/public/_img/favicon-32x32.png" type="image/x-icon">
	<link rel="stylesheet" href="/gigabank/public/_css/bootstrap.min.css">
	<link rel="stylesheet" href="/gigabank/public/_css/style.css">
	{{css}}

	<script src="/gigabank/public/_js/jquery.min.js"></script>
	<script src="/gigabank/public/_js/bootstrap.js"></script>
	<script src="/gigabank/public/_js/popper.min.js"></script>

	{{javascript}}
</head>
<body>
	<div class="mainContainer">
		{{conteudo}}
	</div>

	
</body>
</html>